@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0; padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  transition: all 0.5s;
}
:root{
    --putih : #fff;
    --putih-1 : #B1BED1;
    --hitam : #111;
    --biru : blue;
    --biru-1 : #7590BB;
    --biru-2 : #4D7098;
    --biru-3 : #2C5070;
    --biru-4 : #00FFFF;
    --biru-5 : #0094FF;
    --biru-6 : #0026FF;
    --biru-7 : #5EBCFF;
    --hijau : green;
    --abu-abu : grey;
    --abu-abu-1 : #182A38;

    /*  Medieval Palette  */
    --medieval-1 : #A86E63;
    --medieval-2 : #C95140;
    --medieval-3 : #AD3F26;
    --medieval-4 : #D3230C;

    --medieval-5 : #9F6422;
    --medieval-6 : #D3B14D;
    --medieval-7 : #D1B77A;
    --medieval-8 : #D3BB8D;

    --medieval-9 : #3D2C12;
    --medieval-10 : #968664;
    --medieval-11 : #CCBEA3;
    --medieval-12 : #D3C8B4;

    --medieval-13 : #28313A;
    --medieval-14 : #334350;
    --medieval-15 : #51626A;
    --medieval-16 : #586671;

    --medieval-17 : #04305D;
    --medieval-18 : #053A70;
    --medieval-19 : #04478B;
    --medieval-20 : #0755A0;
}
body{
    background-color: var(--medieval-13);
    color: var(--putih);
}
/*  Navbar  */
nav{
  background-color: var(--medieval-8);
    height: 80px;
    width: 100%;
}
label.nav-logo{
    color: var(--medieval-1);
    text-shadow: 2px 2px var(--medieval-9);
    font-size: 30px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    transition: all 0s;
}
nav ul li a{
    color: var(--putih);
    padding: 5px 10px;
    text-transform: uppercase;
    background-image: url('on.png');
	  background-size: 100% 100%;
    width: 100px;
    height: 40px;
    border: none;
}
.active,.nav-btn:hover{
    background-image: url('off.png');
}
.nav-btn span{
  position: relative;
  top: -2px;
}
.active,nav ul li a:hover{
  position: relative;
  top: 1.5px;
}
label.nav-checkbtn{
    font-size: 30px;
    color: var(--medieval-9);
    float: right;
    margin: 25px;
    cursor: pointer;
    display: none;
}
#nav-check{
    display: none;
}

/*  Content  */
header div{
    margin: 20px;
    text-align: justify;
}

.sign{
  height: 100vh;
    padding: 20%;
    font-size: 100px;
    color: var(--putih);
    font-weight: bold;
    text-shadow: 0 0 0.6rem #84CEFF, 0 0 1.5rem #3AB3FF,
      -0.2rem 0.1rem 1rem #3AB3FF, 0.2rem 0.1rem 1rem #3AB3FF,
      0 -0.5rem 2rem var(--biru-6), 0 0.5rem 3rem var(--biru-6);
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color:white;
    text-shadow: 0 0 0.6rem #84CEFF, 0 0 1.5rem #3AB3FF,
      -0.2rem 0.1rem 1rem #3AB3FF, 0.2rem 0.1rem 1rem #3AB3FF,
      0 -0.5rem 2rem var(--biru-6), 0 0.5rem 3rem var(--biru-6);
  }
  28%,
  33% {
    color: var(--biru-5);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--biru-5);
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: var(--putih);
    text-shadow: none;
  }
  100% {
    color: var(--putih);
    text-shadow: 0 0 0.6rem #84CEFF, 0 0 1.5rem #3AB3FF,
      -0.2rem 0.1rem 1rem #3AB3FF, 0.2rem 0.1rem 1rem #3AB3FF,
      0 -0.5rem 2rem var(--biru-6), 0 0.5rem 3rem var(--biru-6);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}


/*  Responsive Media  */
@media (max-width: 952px){
    label.nav-logo{
        font-size: 30px;
        padding-left: 50px;
    }
}

@media (max-width: 858px){
    .sign{
        height: 50vh;
        padding-top: 40%;
        font-size: 50px;
    }
    label.nav-checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--biru-2);
        top: 80px;
        left: -100%;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    #nav-check:checked ~ ul{
        left: 0;
    }
}